*{
    box-sizing: border-box;
}

body{
    margin: 0;
    
    background: linear-gradient(#212121, #212121);
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    padding: 0 20px 50px 20px;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;
    
}

.result{
    margin-bottom: 60px;
}

.result-value{
    font-weight: 300;
    font-size: 72px;
    line-height: 1.19;
    text-align: right;

    color: #FFFFFF;

    margin-bottom: 25px;
}

.numbers{
    font-size: 24px;
    line-height: 1.21;
    text-align: right;

    color: #E1E1E1;
}

.value-list{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr) 0fr repeat(2, 1fr); 
    gap: 0px 0px; 
    align-content: center;
}

.value-item{
    display: inline-block;
    max-width: 70px;
    min-height: 70px;
    width: calc(100% / 4 - 20px)
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;

    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.25), 
                -5px -5px 10px rgba(51, 51, 51, 0.25), 
                inset -3px -3px 10px rgba(49, 49, 49, 0.25);
}
